<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/assets/master.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
 <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <v-app light>
      <template>


        <!--header-->
        <v-toolbar color="blue-grey darken-4">

          <h1 class="text-md-left" style="font-size: 30px; font-weight: 300; color: #fff">MIT Courses</h1>
          <v-spacer></v-spacer>
          <v-toolbar-items class="hidden-sm-and-down">
            <v-btn href="/" flat style="color: #fff;" id="test" >MAIN</v-btn>
            <v-btn href="/" flat style="color: #fff;" >COURSES</v-btn>
            <v-btn href="/teachers" style="color: #fff;" flat >TEACHERS</v-btn>

          </v-toolbar-items>
        </v-toolbar>




        <v-jumbotron
        src="https://i.imgur.com/dmjAzRT.jpg">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <h3 class="display-3" style="color: #fff;">Teachers roster</h3>

          <span class="subheading" style="color: #fff;">Lorem ipsum dolor sit amet, pri veniam forensibus id. Vis maluisset molestiae id, ad semper lobortis cum. At impetus detraxit incorrupte usu, repudiare assueverit ex eum, ne nam essent vocent admodum.</span>

          <v-divider class="my-3" style="color: #fff;"></v-divider>

          <div class="title mb-3" style="color: #fff;">Check out our newest features!</div>






        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron>







        <!--end of header-->


        <!--courses line-->



















<v-container>
<v-flex xs12>
  <v-container grid-list-xl>
    <v-layout row wrap align-center>
      <v-flex xs12 md4>

        <v-card style="">
          <v-img
          src="https://www.cs.princeton.edu/sites/all/modules/custom/cs_people/generate_thumbnail.php?id=28&thumb="
          height="300px"
          >
        </v-img>

        <v-card-title primary-title>
          <div>
            <div class="headline">Robert Sedgewick</div>
            <span class="grey--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>
        </v-card-title>




</v-card>
</v-flex>








</v-layout>
</v-container>
</v-flex>
</v-container>








        <v-content>
          <v-flex xs12 md12>
            <v-container fluid style="background: linear-gradient(to right, #E85052,#731C52);">
              <h3 class="text-md-center" style="color: #fff"> 2018 - MIT Courses </h3>
            </v-container>
          </v-flex>
        </v-content>







      </template>
    </v-app>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>

  new Vue({ el: '#app' })


</script>
</body>




</html>
